body{
	background-color: #333333;
}

a{
	font-family:  Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 3.5vw;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
}
#cv{
	position: fixed;
	top: 30%;
	width: 30%;
	height: 60%;
	left: 15%;
	background-color: #333333;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.CVContainer{
	width: 100%;	
}
#photo{
	position: fixed;
	top: 30%;
	width: 20%;
	height: 60%;
	right: 30%;
	background-color: #333333;
}

#me{
	max-height:100%;
	max-width:40vw;
	height: auto;
}

#aboutMeText{
	margin:10%;
	padding-top: auto;
	padding-bottom: auto;
}

@media only screen and (max-width: 600px) {
#photo{
	position: relative;
	visibility: hidden;
	top: 0;
	width: 0;
	height: 0;
	right: 0;
	background-color: #333333;
}
	
}
