@keyframes pulse{
	from {;
	  -moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);  
	}
	to {
	  -moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1); 
	}
  }

#topLeft{
background-image: url("5.jpg");
}
#topRight{
background-image: url("6.jpg");
}
#bottomLeft{
background-image: url("7.jpg");
}
#bottomRight{
background-image: url("8.jpg");
}
